#########################
###  Docker Compose   ###
#########################

TIMEZONE=America/Los_Angeles

##########################
###   Traefik Service  ###
##########################
DOMAIN_SUFFIX="-127-0-0-1.nip.io"
# admin:admin
TRAEFIK_CREDS="admin:$$2y$$05$$sJzFh2eTVOARjLCVryK0fuS4wh/UOzV8xx/H/WKyNem0BqagC5OvK"
TRAEFIK_LE_EMAIL="sam@chinthagunta.com"

##########################
###  TinyAuth Service  ###
##########################
TINYAUTH_ALLOWED_EMAILS="admin@chinthagunta.com,sumo@chinthagunta.com"
# user:password
TINYAUTH_AUTH_USERS="user:$$2a$$10$$UdLYoJ5lgPsC0RKqYH/jMua7zIn0g9kPqWmhYayJYLaZQ/FTmH2/u"
GOOGLE_CLIENT_ID="my-google-client-id"
GOOGLE_CLIENT_SECRET="my-google-client-secret"
GITHUB_CLIENT_ID="my-github-client-id"
GITHUB_CLIENT_SECRET="my-github-client-secret"

##########################
### Queen Forward Auth ###
##########################
GOOGLE_ALLOWED_DOMAINS="chinthagunta.com"
# you can generate with `openssl rand -hex 32`
FORWARD_AUTH_ALLOWED_EMAILS="admin@chinthagunta.com,manager@chinthagunta.com"
# you can generate with `openssl genpkey -algorithm Ed25519 -out internal-jwt.pem` command
INTERNAL_JWT_PRIVATE_KEY_PEM="-----BEGIN PRIVATE KEY-----
internal-jwt.pem content goes here 
-----END PRIVATE KEY-----"
EXTERNAL_JWKS_URL=https://console.threatmatic.ai/api/auth/jwks

##########################
###  Postgres Service  ###
##########################
POSTGRES_DB="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_USER="postgres"

##########################
###    MinIO Service   ###
##########################
MINIO_ROOT_USER="minioadmin"
MINIO_ROOT_PASSWORD="minioadmin"

##########################
###   QueenMQ Service  ###
##########################
INTERNAL_JWKS_URL=http://auth:3000/.well-known/jwks.json
# you can generate with `openssl rand -hex 32`
QUEEN_ENCRYPTION_KEY="replace-with-a-secure-random-key"

##########################
###   Storage Service  ###
##########################
# HINT: MinoIO `secret key` should be secret key length should be between 8 and 40
S3_IMAGES_BUCKET="images"
S3_AGENTS_BUCKET="agents"
S3_REGION="us-east-1"
# S3_ENDPOINT="https://minio-127-0-0-1.nip.io"
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY_ID="appuser"
S3_SECRET_ACCESS_KEY="apppassword"

############################
### Events Sync Pipeline ###
############################
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres"
QUEEN_BASE_URL=http://localhost:6632
QUEEN_TOKEN="my-jwt-token"
EVENTS_QUEUE_NAME=flow-log-events
EVENTS_QUEUE_CONSUMER_GROUP=device-access-events-sync-development
EVENTS_CONCURRENCY=5
EVENTS_MAX_PARTITIONS_PER_POP=10
EVENTS_BATCH_SIZE=100
EVENTS_RENEW_LEASE_DURATION=5000
EVENTS_SUBSCRIPTION_FROM=new
# EVENTS_SUBSCRIPTION_FROM=all
# EVENTS_SUBSCRIPTION_FROM=2026-05-01T00:00:00Z